@model LastCard
<div>
    <div>
        <label asp-for="Id">Id</label>
        <p>@Model.Id</p>
    </div>
    <div>
        <label asp-for="Title">Title</label>
        <p>@Model.Title</p>
    </div>
    <div>
        <label asp-for="Subtitle">Subtitle</label>
        <p>@Model.Subtitle</p>
    </div>
    <div>
        <label asp-for="Icon">Icon</label>
        <p><i style="font-size:25px" class="@Model.Icon"></i></p>
    </div>
    <div>
        <form method="post">
            <button type="submit" class="btn btn-lg btn-pinterest">Delete</button>
        </form>
    </div>
</div>