@model Slider
<form method="post" class="form-control" enctype="multipart/form-data">
    <div>
        <label class="mb-3 ">Title</label>
        <input class="form-control" asp-for="Title" /><br />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div>
        <label class="mb-3 ">Description</label>
        <input class="form-control" asp-for="Subtitle" /><br />
        <span class="text-danger" asp-validation-for="Subtitle"></span>
    </div>
    <div>
        <label class="mb-3 ">Image</label>
        <input class="form-control" asp-for="Image" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div>
         <button type="submit" class="btn btn-primary">Create slider</button>
    </div>
</form>