@model Slider
<div>
    <div>
        <label asp-for="Id">Id</label><br />
        <p>@Model.Id</p>
    </div>
    <div>
        <label asp-for="Title">Title</label><br />
        <p>@Model.Title</p>
    </div>
    <div>
        <label asp-for="Subtitle">Subtitle</label><br />
        <p>@Model.Subtitle</p>
    </div>
    <div>
        <label asp-for="Image">Image</label><br />
        <img src="~/assets/image/@Model.Image" width="300" />
    </div>
    <div class="my-3">
        <form method="post">
            <button type="submit" class="btn btn-lg btn-pinterest">Delete</button>
        </form>
    </div>
</div>